<pre>
        
  @@@@. 
  @@@@. 
  @@@@. 
  @@@@  
        
        
#@@@@@. 
@@@@@@. 
+@@@@@. 
  @@@@. 
  @@@@. 
  @@@@. 
  @@@@. 
 .@@@@:`
@@@@@@@@
@@@@@@@@
`++++++'
        
        
        
</pre>
<h3 class="text-center">o bundolu</h3>
<h4>šta je bundolo?</h4>
<p>bundolo je sajt za pisanje priča, pesama i drugih tekstova.
potpuno smo neformalni, glavni cilj je međusobna podrška, pomaganje, upoznavanje sa radom drugih ljudi.
svi su slobodni da čitaju i komentarišu a ako se učlanite možete i da postavljate svoje radove. tekstovi u nastavcima omogućuju autorima da interaktivno učestvuju u stvaranju.
na forumu je takođe dozvoljeno pisanje i bez registracije, sve u cilju otvorenosti. ubeđeni smo da pruženu slobodu nećete zloupotrebljavati.
sajt traje od polovine dvehiljaditih, i za to vreme je izdato nekoliko knjiga sa izborom tekstova, bilo je petnaestak formalnih okupljanja u cilju promocije, javnog čitanja, zabave i druženja.
ostvareno je i mnogo neformalnih susreta i kontakata, što smatramo najvećim uspehom do sada.</p>
<h4>ko je na bundolu?</h4>
<p>članovi sajta su pretežno mladi neafirmisani ljudi koji pišu, studenti književnosti, jezika, filozofije, mada to nije nikakvo pravilo.
s obzirom na trajanje bundola, aktivni članovi se menjaju, imali smo do sada i objavljivanih autora, i onih koji su to u međuvremenu postali, i profesionalaca u oblasti izdavaštva, ali i potpunih amatera.
svačije mišljenje se računa. geografski nismo određeni, aktivni smo gde god se međusobno razumemo.</p>
<h4>ko je iza bundola?</h4>
<p>sajt je pokrenut u novom sadu, od strane nekoliko prijatelja. ta ekipa se vremenom širila i menjala, mada su osnivači i dalje prisutni i aktivni.
sve tehničke, organizacione i kreativne obaveze obavljamo sami, dobrodošli su svi koji na bilo koji način žele da doprinesu.</p>