<section class="content-header">
	<div class="btn-group pull-left">
	  <button type="button" class="btn btn-default dropdown-toggle" title="prethodni" data-toggle="dropdown">
		<i class="fa fa-caret-left"></i>
		<span>prethodni</span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	  	<li><a href="javascript:;" onClick="displayNext('announcement', '{{contentId}}' , 'title', '', false);">po naslovu</a></li>
	    <li><a href="javascript:;" onClick="displayNext('announcement', '{{contentId}}' , 'date', '', false);">po datumu</a></li>
	    <li><a href="javascript:;" onClick="displayNext('announcement', '{{contentId}}' , 'activity', '', false);">po poslednjoj aktivnosti</a></li>
	  </ul>
	</div>
	<div class="btn-group pull-right">
	  <button type="button" class="btn btn-default dropdown-toggle" title="sledeći" data-toggle="dropdown">
		<i class="fa fa-caret-right"></i>
		<span>sledeći</span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	  	<li class="pull-right"><a href="javascript:;" onClick="displayNext('announcement', '{{contentId}}' , 'title', '', true);">po naslovu</a></li>
	    <li class="pull-right"><a href="javascript:;" onClick="displayNext('announcement', '{{contentId}}' , 'date', '', true);">po datumu</a></li>
	    <li class="pull-right"><a href="javascript:;" onClick="displayNext('announcement', '{{contentId}}' , 'activity', '', true);">po poslednjoj aktivnosti</a></li>
	  </ul>
    </div>
	<h1 class="text-center">
	  {{name}}
	</h1>
	<h1 class="text-center">
	  {{#timestampDate}}{{creationDate}}{{/timestampDate}}
	</h1>
</section>
<section class="content">
	<div class="row">
    	<div class="col-xs-12">
			<p>{{{text}}}</p>
			dodao/la: {{#authorUsername}}<a href="javascript:;" onclick="$.address.value('author/{{authorUsername}}');">{{authorUsername}}</a>{{/authorUsername}}{{^authorUsername}}gost{{/authorUsername}}
			<br/>broj prikazivanja: {{rating.0.value}}
			{{#editingEnabled}}
			<div class="item-footer">
			<button type="button" class="btn btn-default" title="izmeni" onClick="editSingleItem('announcement', '{{name}}');">
				<i class="fa fa-pencil"></i>
				<span>izmeni</span>
			</button>
			</div>
			{{/editingEnabled}}
			<pre>

			                 `@@
			                +@@@
			              .@@'.@
			            :@@@  .@
			 .++++++#@@@@@`   .@
			,@@@@@@@@@@:      .@
			@@@@@@@@@;        .@@
			@@@@@@@@@;        .@@@
			@@@@@@@@@;        .@@
			.@@@@@@@@@@;      .@
			 `;;@@@@@@@@@@`   .@
			   ;@@@@    ,@@@` .@
			   +@@@;      `@@+.@
			   +@@@@        ;@@@
			   `@@@@          @@
			    @@@@
			    @@@@@
			    `@@@@


			</pre>
		</div>
	</div>
</section>