{{#items}}
	<tr>
		<td>
			<a href="/announcement/{{#escapeUrl}}{{name}}{{/escapeUrl}}" onclick="$.address.value('/announcement/{{#escapeUrl}}{{name}}{{/escapeUrl}}');return false;">
				{{{name}}}
			</a>
		</td>
		<td class="hidden-xs">
			<a href="/announcement/{{#escapeUrl}}{{name}}{{/escapeUrl}}" onclick="$.address.value('/announcement/{{#escapeUrl}}{{name}}{{/escapeUrl}}');return false;">
				{{authorUsername}}
			</a>
		</td>
		<td class="hidden-xs">
			<a href="/announcement/{{#escapeUrl}}{{name}}{{/escapeUrl}}" onclick="$.address.value('/announcement/{{#escapeUrl}}{{name}}{{/escapeUrl}}');return false;">
				{{#timestampDate}}{{creationDate}}{{/timestampDate}}
			</a>
		</td>
		<td class="hidden-xs">
			<a href="/announcement/{{#escapeUrl}}{{name}}{{/escapeUrl}}" onclick="$.address.value('/announcement/{{#escapeUrl}}{{name}}{{/escapeUrl}}');return false;">
				{{#timestampDate}}{{lastActivity}}{{/timestampDate}}
			</a>
		</td>
	</tr>
{{/items}}