{{#items}}
	<tr>
		<td>
			<a href="/author/{{username}}" onclick="$.address.value('/author/{{username}}');return false;">
				{{{username}}}
			</a>
		</td>
		<td class="hidden-xs">
			<a href="/author/{{username}}" onclick="$.address.value('/author/{{username}}');return false;">
				{{#trimLong}}{{descriptionContent.text}}{{/trimLong}}
			</a>
		</td>
		<td class="hidden-xs">
			<a href="/author/{{username}}" onclick="$.address.value('/author/{{username}}');return false;">
				{{#timestampDate}}{{signupDate}}{{/timestampDate}}
			</a>
		</td>
		<td class="hidden-xs">
			<a href="/author/{{username}}" onclick="$.address.value('/author/{{username}}');return false;">
				{{#timestampDate}}{{lastLoginDate}}{{/timestampDate}}
			</a>
		</td>
	</tr>
{{/items}}