{{#items}}
	<tr>
		<td>
			<a href="/{{descriptionContent.slug}}" onclick="$.address.value('/{{descriptionContent.slug}}');return false;">
				{{{username}}}
			</a>
		</td>
		<td class="hidden-xs">
			<a href="/{{descriptionContent.slug}}" onclick="$.address.value('/{{descriptionContent.slug}}');return false;">
				{{#trimLong}}{{descriptionContent.text}}{{/trimLong}}
			</a>
		</td>
		<td class="hidden-xs">
			<a href="/{{descriptionContent.slug}}" onclick="$.address.value('/{{descriptionContent.slug}}');return false;">
				{{#timestampDate}}{{signupDate}}{{/timestampDate}}
			</a>
		</td>
		<td class="hidden-xs">
			<a href="/{{descriptionContent.slug}}" onclick="$.address.value('/{{descriptionContent.slug}}');return false;">
				{{#timestampDate}}{{lastLoginDate}}{{/timestampDate}}
			</a>
		</td>
	</tr>
{{/items}}