<br/>
{{#pages.length}}
ukupno objavljeno: {{totalItems}}
<br/>
ukupno prikazivanja: {{rating}}
<br/>
<ul class="pagination">
	{{#pages}}
  		<li><a href="javascript:;" onClick="displayPage('author-items', {{index}});" class="page{{index}}">{{index}}</a></li>
	{{/pages}}
</ul>
{{#pages}}
<table class="table table-striped clickable author-items hidden page{{index}}">
	<thead>
		<tr>
			<th>naslov</th>
			<th>vrsta</th>
			<th>datum objavljivanja</th>
			<th>broj prikazivanja</th>
		</tr>
	</thead>
	<tbody>
		{{#items}}
			<tr>
				<td>
					<a href="{{#escapeUrl}}{{link}}{{/escapeUrl}}" onclick="$.address.value('{{#escapeUrl}}{{link}}{{/escapeUrl}}');return false;">
						{{name}}
					</a>
				</td>
				<td>
					<a href="{{#escapeUrl}}{{link}}{{/escapeUrl}}" onclick="$.address.value('{{#escapeUrl}}{{link}}{{/escapeUrl}}');return false;">
						{{#isText}}tekst{{/isText}}{{#isEpisode}}nastavak{{/isEpisode}}
					</a>
				</td>
				<td>
					<a href="{{#escapeUrl}}{{link}}{{/escapeUrl}}" onclick="$.address.value('{{#escapeUrl}}{{link}}{{/escapeUrl}}');return false;">
						{{#timestampDate}}{{creationDate}}{{/timestampDate}}
					</a>
				</td>
				<td>
					<a href="{{#escapeUrl}}{{link}}{{/escapeUrl}}" onclick="$.address.value('{{#escapeUrl}}{{link}}{{/escapeUrl}}');return false;">
						{{#rating.0.value}}{{rating.0.value}}{{/rating.0.value}}{{^rating.0.value}}0{{/rating.0.value}}
					</a>
				</td>
			</tr>
		{{/items}}
	</tbody>
</table>
{{/pages}}
{{/pages.length}}