{{#comments}}
	<div class="panel panel-default comment">
		<span title="Add comment" class="fa-stack fa-2x pull-right comment-button">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
		{{#text}}
		<div class="panel-heading">
			<span>- {{{text}}} ({{authorUsername}})</span>
		</div>
		{{/text}}
		<div class="panel-collapse">
			<div class="panel-body">
				<div class="panel-group">
					<div>
						<div>
							{{#comments}}
								{{>commentPanel}}
						 	{{/comments}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/comments}}