<section class="content-header">
  <h1 class="text-center">
    linkovi
  </h1>
</section>
<section class="content">
	<div class="row">
    	<div class="col-xs-12">
			<table id="list_connections" class="table table-striped clickable infinite">
				<thead>
					<tr>
						<th id="connections_column_title" class="">naslov</th>
						<th id="connections_column_author" class="hidden-xs">autor</th>
						<th id="connections_column_date" class="desc hidden-xs">objavljivanje</th>
						<th id="connections_column_activity" class="hidden-xs">aktivnost</th>
						<th></th>
					</tr>
					<tr>
						<td class=""><input type="search" placeholder=""></td>
						<td class="hidden-xs"><input type="search" placeholder=""></td>
						<td class="hidden-xs"><input type="search" placeholder=""></td>
						<td class="hidden-xs"><input type="search" placeholder=""></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</section>