<section class="content-header">
  <h1 class="text-center">
    <i class='fa fa-envelope-o'></i>
  </h1>
  <h1 class="text-center">
    kontakt
  </h1>
</section>
<section class="content">
	<div class="row">
    	<div class="col-xs-12">
    		<h4><a href="/topic/tehni%C4%8Dka~podr%C5%A1ka" onclick="$.address.value('/topic/tehni%C4%8Dka~podr%C5%A1ka');return false;">Tema na forumu za tehničku podršku</a></h4>
    		<h4><a href="mailto:admin@bundolo.org">Elektronska pošta</a></h4>
    		<h4><a href="https://www.facebook.com/bundolo.dibidus">Facebook profil</a></h4>
			<h4><a href="https://www.facebook.com/groups/bundolo">Facebook grupa</a></h4>
			<h4><a href="https://www.facebook.com/bundoloonline">Facebook stranica</a></h4>
			<h4><a href="https://twitter.com/bundoloTwitt">Twitter profil</a></h4>
			<div class="item-footer">
				<button type="button" class="btn btn-default" title="pišite nam" onClick="editSingleItem('inquiry');">
					<i class="fa fa-envelope-o"></i>
					<span>pišite nam</span>
				</button>
			</div>
		</div>
	</div>
</section>