<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">slanje privatne poruke korisniku {{recipientUsername}}</h4>
</div>
<div class="modal-body">
	<form role="form">
		<div class="form-group">
		  <label for="edit_title">naslov</label>
		  <input type="text" class="form-control default-focus" id="edit_title" placeholder="unesite naslov" validators="required url_safe">
		</div>		
		<div class="form-group">
		  <label for="edit_content">tekst</label>
		  <textarea cols="45" rows="4" class="form-control" id="edit_content" placeholder="unesite tekst" validators="required"></textarea>
		</div>
	</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" title="odustani" data-dismiss="modal">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-times fa-stack-1x fa-inverse"></i>			
		</span>
	</button>
	<button type="button" class="btn btn-default" title="pošalji" onClick="sendMessage('{{recipientUsername}}');">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-check fa-stack-1x fa-inverse"></i>
		</span>
	</button>
</div>