<section class="content-header">
 	<h1 class="text-center">
	  <i class='fa fa-bookmark'></i>
	</h1>
	<h1 class="text-center">
	  unos izbora
	</h1>
</section>
<section class="content">
	<div class="row">
    	<div class="col-xs-12">
			<form role="form">
				<input type="hidden" id="edit_item_id" value="{{itemListId}}">
				<input type="hidden" id="edit_item_query" value="{{query}}">
				<div class="form-group">
				  <label for="edit_title">naslov</label>
				  <input type="text" class="form-control default-focus" id="edit_title" placeholder="unesite naslov" value="{{descriptionContent.name}}" validators="required url_safe">
				</div>
				<div class="form-group">
				  <label for="edit_description">kratak opis</label>
				  <textarea cols="45" rows="6" class="form-control" id="edit_description" placeholder="unesite kratak opis">{{descriptionContent.text}}</textarea>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="pull-right">
			<button type="button" class="btn btn-default" title="odustani" onClick="cancelEdit();">
				<i class="fa fa-times"></i>
				<span>odustani</span>
			</button>
			<button type="button" class="btn btn-default save_item_list" title="snimi">
				<i class="fa fa-check"></i>
				<span>snimi</span>
			</button>
		</div>
	</div>
</section>