<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">potvrda brisanja</h4>
</div>
<div class="modal-body">
	<h4>da li ste sigurni da želite da obrišete?</h4>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" title="odustani" data-dismiss="modal">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-times fa-stack-1x fa-inverse"></i>			
		</span>
	</button>
	<button type="button" class="btn btn-default" title="obriši" onClick="{{modalAction}}">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-check fa-stack-1x fa-inverse"></i>
		</span>
	</button>
</div>