<section class="content-header">
	<h1 class="text-center">
	  <i class="fa fa-cog"></i>
	</h1>
	<h1 class="text-center">
	  izmena korisničkog profila
	</h1>
</section>
<section class="content">
	<div class="row">
    	<div class="col-xs-12">
			<form role="form" autocomplete="off">
				<div class="form-group">
				  <label for="edit_username">korisničko ime</label>
				  <input type="text" class="form-control" id="edit_username" placeholder="unesite korisničko ime" readonly value="{{username}}">
				</div>
				<div class="form-group">
				  <label for="edit_description">kratak opis</label>
				  <textarea cols="45" rows="6" class="form-control default-focus" id="edit_description" placeholder="unesite kratak opis">{{{descriptionContent.text}}}</textarea>
				</div>
				<div class="form-group">
				  <label for="edit_show_personal">prikaži lične podatke</label>
				  <input type="checkbox" id="edit_show_personal" placeholder="prikaži lične podatke" {{#showPersonal}}checked{{/showPersonal}}>
				</div>
				<div class="form-group">
				  <label for="edit_first_name">ime</label>
				  <input type="text" class="form-control" id="edit_first_name" placeholder="unesite ime" value="{{firstName}}">
				</div>
				<div class="form-group">
				  <label for="edit_last_name">prezime</label>
				  <input type="text" class="form-control" id="edit_last_name" placeholder="unesite prezime" value="{{lastName}}">
				</div>
				<div class="form-group">
					<label for="edit_gender">pol</label>
					<select class="form-control" id="edit_gender">
						<option value="female">ženski</option>
						<option value="male">muški</option>
						<option value="other">x</option>
					</select>
					<script type='text/javascript'>
						$("#edit_gender").val('{{gender}}');
					</script>
				</div>
				<div class="form-group">
					<label for="edit_birth_date">datum rođenja</label>
					<input type="text" class="form-control" id="edit_birth_date" placeholder="unesite datum rođenja" value="{{#birthDate}}{{#timestampDate}}{{birthDate}}{{/timestampDate}}{{/birthDate}}">
					<script type='text/javascript'>
						$('#edit_birth_date').datepicker({
						    format: "dd.mm.yyyy.",
						    weekStart: 1
						}).on('show', function() {
							//this is a fix for datepicker not showing when it's opened from modal dialog
					  		var modal = $('#edit_birth_date').closest('.modal');
					  		var datePicker = $('body').find('.datepicker');
					  		if(!modal.length) {
					  			$(datePicker).css('z-index', 'auto');
					  			return;
					  		}
					  		var zIndexModal = $(modal).css('z-index');
					  		$(datePicker).css('z-index', zIndexModal + 1);
					  	});
					</script>
				</div>
				<div class="form-group highlighted">
					<span>popunite ova polja ako želite da promenite adresu elektronske pošte</span><br />
				  <label for="edit_email">nova adresa</label>
				  <input type="email" class="form-control" id="edit_email" placeholder="unesite novu adresu" value="" autocomplete="off" validators="email same1">
				  <label for="edit_retype_email">nova adresa ponovo</label>
				  <input type="email" class="form-control" id="edit_retype_email" placeholder="unesite ponovo novu adresu" value="" autocomplete="off" validators="email same2">
				</div>
				<div class="form-group highlighted">
					<span>popunite ova polja ako želite da promenite lozinku</span><br />
				  <input type="password" style="display:none" />
				  <label for="edit_current_password">sadašnja lozinka</label>
				  <input type="password" class="form-control" id="edit_current_password" placeholder="unesite sadašnju lozinku" autocomplete="off" validators="length different1">
				  <label for="edit_password">nova lozinka</label>
				  <input type="password" class="form-control" id="edit_password" placeholder="unesite novu lozinku" autocomplete="off" validators="length same1 different2">
				  <label for="edit_retype_password">nova lozinka ponovo</label>
				  <input type="password" class="form-control" id="edit_retype_password" placeholder="unesite ponovo novu lozinku" autocomplete="off" validators="length same2">
				</div>
				<div class="form-group">
				  <label for="edit_bulletin_subscription">želim da primam povremene grupne poruke</label>
				  <input type="checkbox" id="edit_bulletin_subscription" placeholder="želim da primam povremene grupne poruke" {{#bulletinSubscription}}checked{{/bulletinSubscription}}>
				</div>
				<div class="form-group">
				  <label for="edit_digest_subscription">želim da primam bundolo pregled</label>
					<select class="form-control" id="edit_digest_subscription">
						<option value="daily">dnevno</option>
						<option value="weekly">nedeljno</option>
						<option value="monthly">mesečno</option>
						<option value="none">nikada</option>
					</select>
					<script type='text/javascript'>
						$("#edit_digest_subscription").val('{{digestSubscription}}');
					</script>
				</div>
				<div class="form-group text-justify">
					<p>Vaš avatar se ne čuva na bundolu. Podržani su Libravatar i Gravatar, online servisi za avatare.
					Ako se na jednom od njih registrujete, sve internet stranice koje ih podržavaju, uključujući i bundolo, će na vašem profilu prikazivati isti avatar.
					Jedini uslov je da koristite istu adresu elektronske pošte na servisu za avatare, i na sajtu koji će taj avatar prikazivati.
					Profili za koje nije pronađen avatar će automatski dobiti nasumično generisanu jedinstvenu sličicu.
					Libravatar radi na principima otvorenog koda, dok je Gravatar u vlasništvu privatne kompanije, ali je popularniji. Sami odaberite koji želite da koristite.<br />
					<a href="https://www.libravatar.org/account/">Libravatar</a><br />
					<a href="https://www.gravatar.com/{{avatarUrl}}">Gravatar</a>
				  </p>
				</div>
			</form>
		</div>
	</div>
	<div class="item-footer">
		<button type="button" class="btn btn-default" title="odustani" onClick="cancelEdit();">
			<i class="fa fa-times"></i>
			<span>odustani</span>
		</button>
		<button type="button" class="btn btn-default save_author" title="snimi">
			<i class="fa fa-check"></i>
			<span>snimi</span>
		</button>
	</div>
</section>