<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">unos linka</h4>
</div>
<div class="modal-body">
	<form role="form">
		<div class="form-group">
			<label for="edit_group">kategorija</label>
			<select class="form-control" id="edit_group">
				{{#connectionGroups}}
					<option value="{{contentId}}">{{name}}</option>
				{{/connectionGroups}}
			</select>
			<script type='text/javascript'>
				//$("#edit_gender").val('{{gender}}');
				//TODO set connection group if this is update
			</script>
		</div>
		<div class="form-group">
		  <label for="edit_title">ime</label>
		  <input type="text" class="form-control default-focus" id="edit_title" placeholder="unesite ime">
		</div>
		<div class="form-group">
		  <label for="edit_description">opis</label>
		  <div id="edit_description"></div>
		  <script type='text/javascript'>
		  	$('#edit_description').summernote({
			  lang: 'sr-RS'
			});
		  </script>
		</div>
		<div class="form-group">
		  <label for="edit_url">internet adresa</label>
		  <input type="text" class="form-control" id="edit_url" placeholder="unesite internet adresu">
		</div>
		<div class="form-group">
		  <label for="edit_email">adresa elektronske pošte</label>
		  <input type="text" class="form-control" id="edit_email" placeholder="unesite adresu elektronske pošte">
		</div>
	</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" title="odustani" data-dismiss="modal" onClick="$('#edit_description').destroy();">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-times fa-stack-1x fa-inverse"></i>			
		</span>
	</button>
	<button type="button" class="btn btn-default" title="snimi" onClick="saveConnection();">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-check fa-stack-1x fa-inverse"></i>
		</span>
	</button>
</div>