<section class="content-header">
  <h1 class="text-center">
    unos komentara
  </h1>
</section>
<section class="content">
	<div class="row">
    	<div class="col-xs-12">
			<form role="form">
				<input type="hidden" id="edit_item_id" value="{{contentId}}">
				<div class="form-group">
				  <label for="edit_content">tekst</label>
				  <textarea cols="45" rows="6" class="form-control default-focus" id="edit_content" placeholder="unesite tekst" validators="required"></textarea>
				</div>
				<div class="form-group">
					<label for="edit_credentials">komentar želim da dodam kao</label>
					<select class="form-control" id="edit_credentials">
						<option value="anonymous">gost</option>
						<option value="logged">ulogovan</option>
					</select>
				</div>
				<div class="form-group hidden">
				  <label for="edit_honeypot">nemojte popunjavati ovo polje</label>
				  <input type="text" class="form-control" id="edit_honeypot" placeholder="nemojte popunjavati ovo polje" validators="forbidden">
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="pull-right">
			<button type="button" class="btn btn-default" title="odustani" onClick="cancelEdit();">
				<i class="fa fa-times"></i>
				<span>odustani</span>
			</button>
			<button type="button" class="btn btn-default save_comment" title="snimi">
				<i class="fa fa-check"></i>
				<span>snimi</span>
			</button>
		</div>
	</div>
</section>