<pre>                
                
'@@@@@@@@@@     
@@......@+@@    
@@      @;`@@   
@@      @; `@@  
@@      @;  `@@ 
@@      @;   `@.
@@      @@@@@@@+
@@       ;;;;;@+
@@            @+
@@ +@@@@@@@@; @+
@@ .;;;;;;;;` @+
@@            @+
@@ +@@@@@@@@; @+
@@ ,++++++++. @+
@@            @+
@@            @+
@@............@+
'@@@@@@@@@@@@@@,
                
                
</pre>

<div class="btn-group pull-left">
  <button type="button" class="btn btn-default dropdown-toggle" title="prethodni" data-toggle="dropdown">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-caret-left fa-stack-1x fa-inverse"></i>
		</span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	<li><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'date', 'group', false);">u seriji</a></li>
    <li><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'date', 'author', false);">od istog autora</a></li>
    <li><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'title', '', false);">po naslovu</a></li>
    <li><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'date', '', false);">po datumu</a></li>
    <li><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'activity', '', false);">po poslednjoj aktivnosti</a></li>
  </ul>
</div>

<div class="btn-group pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" title="sledeći" data-toggle="dropdown">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-caret-right fa-stack-1x fa-inverse"></i>
		</span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	<li class="pull-right"><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'date', 'group', true);">u seriji</a></li>
    <li class="pull-right"><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'date', 'author', true);">od istog autora</a></li>
    <li class="pull-right"><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'title', '', true);">po naslovu</a></li>
    <li class="pull-right"><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'date', '', true);">po datumu</a></li>
    <li class="pull-right"><a href="javascript:;" onClick="displayNext('episode', '{{contentId}}' , 'activity', '', true);">po poslednjoj aktivnosti</a></li>
  </ul>
</div>

<h3 class="text-center"><a href="{{#escapeUrl}}/serial/{{parentGroup}}{{/escapeUrl}}">{{parentGroup}}</a></h3>
<h3 class="text-center">{{#authorUsername}}<a href="/author/{{authorUsername}}">{{authorUsername}}</a>{{/authorUsername}}{{^authorUsername}}gost{{/authorUsername}}</h3>
<h3 class="text-center">{{{name}}}</h3>
{{{text}}}
<br/>{{#creationDate}}dodato: {{#timestampDate}}{{creationDate}}{{/timestampDate}}{{/creationDate}}
<br/>poslednja aktivnost: {{#timestampDate}}{{lastActivity}}{{/timestampDate}}
<br/>broj prikazivanja: {{rating.value}}
{{#editingEnabled}}
<div class="item-footer">
<button type="button" class="btn btn-default" title="izmeni" onClick="editSingleItem('episode','{{parentGroup}}/{{name}}');">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	</span>
</button>
<button type="button" class="btn btn-default" title="obriši" onClick="editSingleItem('confirmation', 'episode/{{parentGroup}}/{{name}}');">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-minus fa-stack-1x fa-inverse"></i>
	</span>
</button>
</div>
{{/editingEnabled}}