{{#pages.length}}
<ul class="pagination">
	{{#pages}}
  		<li><a href="javascript:;" onClick="displayPage('serial-episodes', {{index}});" class="page{{index}}">{{index}}</a></li>
	{{/pages}}
</ul>
{{#pages}}
<table class="table table-striped clickable serial-episodes hidden page{{index}}">
	<thead>
		<tr>
			<th>naslov</th>
			<th class="hidden-xs">autor</th>
			<th class="hidden-xs">objavljivanje</th>
			<th class="hidden-xs">aktivnost</th>
		</tr>
	</thead>
	<tbody>
		{{#episodes}}
			<tr>
				<td>
					<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
						{{{name}}}
					</a>
				</td>
				<td class="hidden-xs">
					<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
						{{authorUsername}}
					</a>
				</td>
				<td class="hidden-xs">
					<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
						{{#timestampDate}}{{creationDate}}{{/timestampDate}}
					</a>
				</td>
				<td class="hidden-xs">
					<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
						{{#timestampDate}}{{lastActivity}}{{/timestampDate}}
					</a>
				</td>
			</tr>
		{{/episodes}}
	</tbody>
</table>
{{/pages}}
{{/pages.length}}
{{#serial.isLoggedIn}}
	<div class="item-footer">
		{{#serial.editingEnabled}}
			<button type="button" class="btn btn-default" title="izmeni" onClick="editSingleItem('serial', '{{serial.slug}}');">
				<i class="fa fa-pencil"></i>
				<span>izmeni</span>
			</button>
		{{/serial.editingEnabled}}
		{{#serial.addingEnabled}}
			<button type="button" class="btn btn-default" title="dodaj nastavak" onClick="addEpisode({{serial.contentId}});">
				<i class="fa fa-plus"></i>
				<span>dodaj nastavak</span>
			</button>
		{{/serial.addingEnabled}}
		{{^serial.addingEnabled}}
			novi nastavak se ne može dodati jer je poslednji zaključan.
		{{/serial.addingEnabled}}
	</div>
{{/serial.isLoggedIn}}