<pre>                
                
'@@@@@@@@@@     
@@......@+@@    
@@      @;`@@   
@@      @; `@@  
@@      @;  `@@ 
@@      @;   `@.
@@      @@@@@@@+
@@       ;;;;;@+
@@            @+
@@ +@@@@@@@@; @+
@@ .;;;;;;;;` @+
@@            @+
@@ +@@@@@@@@; @+
@@ ,++++++++. @+
@@            @+
@@            @+
@@............@+
'@@@@@@@@@@@@@@,
                
                
</pre>

<div class="btn-group pull-left">
  <button type="button" class="btn btn-default dropdown-toggle" title="prethodni" data-toggle="dropdown">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-caret-left fa-stack-1x fa-inverse"></i>
		</span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	<li><a href="#">u seriji</a></li>
    <li><a href="#">od istog autora</a></li>
    <li><a href="#">po naslovu</a></li>
    <li><a href="#">po datumu</a></li>
    <li><a href="#">po poslednjem komentaru</a></li>
  </ul>
</div>

<div class="btn-group pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" title="sledeći" data-toggle="dropdown">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-caret-right fa-stack-1x fa-inverse"></i>
		</span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	<li class="pull-right"><a href="#">u seriji</a></li>
    <li class="pull-right"><a href="#">od istog autora</a></li>
    <li class="pull-right"><a href="#">po naslovu</a></li>
    <li class="pull-right"><a href="#">po datumu</a></li>
    <li class="pull-right"><a href="#">po poslednjem komentaru</a></li>
  </ul>
</div>

<h3 class="text-center">{{authorUsername}}</h3>
<h3 class="text-center">{{{name}}}</h3>
{{{text}}}
{{#creationDate}}Datum dodavanja epizode: {{creationDate}}{{/creationDate}}
<br/>last activity: {{lastActivity}}