{{#episodes.length}}
<table class="table table-striped clickable">
	<thead>
		<tr>
			<th>autor</th>
			<th>naslov</th>
			<th>kratak opis</th>
			<th>datum objavljivanja</th>
		</tr>
	</thead>
	<tbody>
		{{#episodes}}
			<tr onclick="$.address.value('episode/{{#escapeUrl}}{{serial.name}}/{{name}}{{/escapeUrl}}');">
				<td>{{authorUsername}}</td>
				<td>{{{name}}}</td>
				<td>{{{description.0.text}}}</td>
				<td>{{creationDate}}</td>
			</tr>
		{{/episodes}}
	</tbody>
</table>
{{/episodes.length}}