<h3 class="text-center">pomoć</h3>
<h4>Kako se registrovati?</h4>
<p>
	Ako želite da objavljujete vaše tekstove, morate se registrovati.
	Klikom na dugme "registracija" u gornjem desnom delu navigacije dobićete formu za unos potrebnih podataka. Po obavljenoj registraciji na vašu elektronsku adresu će biti poslato aktivaciona poruka, sledite uputstva u njemu i bićete registrovani.
</p>
<h4>Kako doći do zaboravljene šifre?</h4>
<p>
	Ako ste zaboravili vašu lozinku, kliknite na krug "nova lozinka" u gornjem desnom delu navigacije, upišite neophodne podatke i dobićete poruku sa novom lozinkom na vašu adresu.
</p>
<h4>Kako da promenim svoje podatke?</h4>
<p>
 	Ulogujte se na bundolo, klikom na krug "profil" u gornjem desnom delu navigacije, na svom profilu ćete dobiti dugme za izmenu podataka.
</p>
<h4>Kako čitati tekstove?</h4>
<p>
 	U desnom delu su dugmad za različite vrste sadržaja na bundolu. Svaki od njih sadrži sortirani spisak, koji možete po želji filtrirati ili drugačije sortirati. Klikom na bilo koji rezultat, dobićete ga otvorenog u centralnom delu stranice.
 	Druga mogućnost za pronalaženje željenog sadržaja je navigacija iz već prikazanog teksta. U gornjem delu, levo i desno od naslova, nalaze se prečice do prethodnog i sledećeg teksta po različitim parametrima.
 	Treća opcija su linkovi u dnu stranice, sa pet poslednjih sadržaja, kojima u svakom momentu možete stići do najnovijih tekstova na bundolu.
</p>
<h4>Kako komentarisati?</h4>
<p>
 	Na novoj verziji bundola moguće je komentarisati bilo koji tip sadržaja. Komentari se dobijaju preko malog dugmeta sa oblačićem. Klikom na znak + dobićete mogućnost za unos novog komentara. U polje predviđeno za komentar upišite vašu poruku i kliknite "sačuvaj". Ako želite da nastavite komentar na već postojeći tada kliknite da znak + pored tog komentara. Ako niste ulogovani bićete potpisani kao "gost".
</p>
<h4>Kako pisati tekst?</h4>
<p>
 	Ako ste prijavljeni u gornjem desnom delu ekrana imaćete dugme sa znakom + preko kojeg možete uneti sadržaj koji želite.
</p>
<h4>Pregled mojih tekstova</h4>
<p>
 	Klikom na link "statistika" dobijate pregled svojih tekstova. Rejting za sada odražava samo broj prikazivanja vašeg teksta, ali će u narednim unapređenjima omogućiti lakše isticanje ili ignorisanje sadržaja, u zavisnosti od afiniteta svakog posetioca.
</p>
<h4>Kako izbrisati tekst?</h4>
<p>
 	Na stranici statistika pored svakog teksta imate znak minus (-), ako kliknete na njega brišete svoj tekst.
</p>
<h4>Kako izmeniti tekst?</h4>
<p>
 	Ako želite da promenite sadržaj teksta idite na spisak svojih tekstova (klikom na link "statistika"). Pored svakog teksta imate dugme sa olovkom.
</p>
<h4>Priče u nastavcima</h4>
<p>
 	Ovo su tekstovi koje piše ili grupa ljudi ili samo jedna osoba, tako što neko započne, zada neku temu ili okvirnu ideju, a drugi se nadovezuju.
 	Onaj ko je započeo ima pravo da administrira seriju, ali tekstove mogu menjati samo njihovi autori, i to jedino ako nema novih nastavaka posle teksta.
 	Da biste napisali nastavak, kliknite na + ispod spiska dosadašnjih nastavaka. Ako želite da samo vi pišete priče u nastavcima, ili niste još završili sa pisanjem teksta, obeležite polje "nastavak još nije završen (ne može se pisati sledeći)".
 	Tim postupkom ste onemogućili ostale članove da ubacuju nove nastavke. Kada odlučite da pišete nastavak, otključajte prethodnu priču.
</p>
<h4>Diskusije</h4>
<p>
 	Ako želite da se uključite u diskusiju na postojećoj temi, kliknite na link za dodavanje novog odgovora.
 	Otvoriće se nova strana, u polju "sadržaj poruke" unesite vašu poruku i kliknite na link "sačuvaj".
 	Ako želite da dodate novu temu, kliknite na + link i izaberite dodavanje nove diskusije. Otvoriće se nova strana u kojoj ćete upisati naslov teme i kliknuti na link "sačuvaj". Poželjno je da naslov teme bude takav da može da se zaključi o čemu je reč, npr. "Da li je neko čitao Hamleta?" a ne: "Pitanje za sve" ili "Ubacite slova u boji" a ne: "Predlog za administratora".
</p>
<h4>Zapamti me</h4>
<p>
 	Polje "zapamti me" u gornjem desnom uglu služi za automatsku prijavu. Unesite vaše korisničko ime i lozinku, kliknite na "zapamti me" i sledeći put kada dođete na bundolo bićete ulogovani.
 	Ako više ne želite da koristite automatsku prijavu, samo se odjavite. Ako ste zabranili kukije, automatska prijava neće funkcionisati.
</p>
<h4>šta da radim ako imam još pitanja?</h4>
<p>
	proverite forum, možda je neko već imao isti problem kao vi. ako ne pronađete odgovor, slobodno postavite pitanje, neko će ga videti i odgovoriti vam.
</p>
<p>
	za bilo kakvu pomoć, obaveštenje ili sugestiju možete kontaktirati i administratore sajta.
</p>
<div class="item-footer">
	<button type="button" class="btn btn-default" title="kontaktirajte nas" onClick="editSingleItem('inquiry');">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
		</span>
	</button>
</div>
<pre>


     .'+.
   '@@@@@@.
  #@@@@@@@@,
 .@@@@@@@@@@
  @@@   +@@@.
   +`   `@@@.
       `@@@@
      @@@@@@
     #@@@@;
     @@@@
     @@@@

     @@@@
     @@@@
     @@@@
     +++;



</pre>