<button type="button" class="btn btn-default" title="profil" onClick="$.address.value('/profile');">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-cog fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default dropdown-toggle" title="dodaj" data-toggle="dropdown" id="add_menu">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
	</span>
</button>
 <ul class="dropdown-menu" role="menu" aria-labelledby="add_menu">
   <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('text');">tekst</a></li>
   <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('serial');">serija</a></li>
   <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('announcement');">vest</a></li>
   <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('topic');">diskusija</a></li>
   <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('contest');">konkurs</a></li>
   <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('connection');">link</a></li>
   <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('item_list');">izbor</a></li>
 </ul>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default" title="statistika" onClick="$.address.value('/statistics');">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h hidden-xs"></span>
<div class="form-group username_bar hidden-xs" title="korisničko ime">
	<div>
		{{username}}
	</div>
</div>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default process_logout" title="odjava">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
	</span>
</button>