<button type="button" class="btn btn-default" title="Profile" onClick="displayProfile();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-cog fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default dropdown-toggle" title="Add" data-toggle="dropdown" id="add_menu">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
	</span>
</button>
 <ul class="dropdown-menu" role="menu" aria-labelledby="add_menu">
   <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="addText();">Text</a></li>
   <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="addSerial();">Serial</a></li>
   <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="addAnnouncement();">Announcement</a></li>
   <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="addTopic();">Forum topic</a></li>
   <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="addConnection();">Connection</a></li>
   <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="addContest();">Contest</a></li>
 </ul>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default" title="Statistics" onClick="displayStatistics();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h"></span>
<div class="form-group username_bar" title="Username">
	<div>
		Kiloster
	</div>
</div>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default" title="Logout" onClick="displayLogin();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
	</span>
</button>