<div class="form-group username_bar hidden-xs" title="korisničko ime">
	<div>
		{{username}}
	</div>
</div>
<button type="button" class="btn btn-default" title="profil" onClick="$.address.value('/profile');">
	<i class="fa fa-cog"></i>
	<span>profil</span>
</button>
<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" title="dodaj" data-toggle="dropdown" id="add_menu">
		<i class="fa fa-plus"></i>
		<span>dodaj</span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="add_menu">
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('text');">tekst</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('serial');">serija</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('announcement');">vest</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('topic');">diskusija</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('contest');">konkurs</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('connection');">link</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('item_list');">izbor</a></li>
	</ul>
</div>
<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" title="statistika" data-toggle="dropdown" id="statistics_menu">
		<i class="fa fa-bar-chart-o"></i>
		<span>statistika</span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="statistics_menu">
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="$.address.value('/statistics');">tekstovi</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="$.address.value('/updates');">novosti</a></li>
	</ul>
</div>
<button type="button" class="btn btn-default process_logout" title="odjava">
	<i class="fa fa-sign-out"></i>
	<span>odjava</span>
</button>