<div class="form-group username_bar hidden-xs" title="korisničko ime">
	<div>
		{{username}}
	</div>
</div>
<a class="btn btn-default" href="/profile" title="profil" onClick="$.address.value('/profile');return false;">
	<i class="fa fa-cog hidden-sm hidden-xs"></i>
	<span>profil</span>
</a>
<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" title="dodaj" data-toggle="dropdown" id="add_menu">
		<i class="fa fa-plus hidden-sm hidden-xs"></i>
		<span>dodaj</span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="add_menu">
	  <li role="presentation" id="text_adding"></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('serial');">serija</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('announcement');">vest</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('topic');">diskusija</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('contest');">konkurs</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('connection');">link</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" onClick="editSingleItem('item_list');">izbor</a></li>
	</ul>
</div>
<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" title="statistika" data-toggle="dropdown" id="statistics_menu">
		<i class="fa fa-bar-chart-o hidden-sm hidden-xs"></i>
		<span>statistika</span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="statistics_menu">
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/user_items" onClick="$.address.value('/user_items');return false;">tekstovi</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/updates" onClick="$.address.value('/updates');return false;">novosti</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/author_interactions" onClick="$.address.value('/author_interactions');return false;">interakcije</a></li>
	</ul>
</div>
<button type="button" class="btn btn-default process_logout" title="odjava">
	<i class="fa fa-sign-out hidden-sm hidden-xs"></i>
	<span>odjava</span>
</button>