<button type="button" class="btn btn-default" title="registracija" onClick="displayRegister();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-male fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default" title="nova lozinka" onClick="displayReset();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-key fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h hidden-xs"></span>
<div class="form-group" title="korisničko ime">
	<label class="sr-only" for="login_username">korisničko ime</label>
	<input type="text" class="form-control" id="login_username" placeholder="korisničko ime" validators="required username">
</div>
<span class="pipe_h hidden-xs"></span>
<div class="form-group" title="lozinka">
	<label class="sr-only" for="login_password">lozinka</label>
	<input type="password" class="form-control" id="login_password" placeholder="lozinka">
</div>
<span class="pipe_h hidden-xs"></span>
<div class="checkbox" title="zapamti me">
	<span>
		<label class="sr-only" for="login_remember">zapamti me</label>
		<input type="checkbox" id="login_remember" tabindex="0">
	</span>
</div>
<span class="pipe_h hidden-xs"></span>					
<button type="button" class="btn btn-default" title="prijava" onClick="login();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-sign-in fa-stack-1x fa-inverse"></i>
	</span>
</button>