<button type="button" class="btn btn-default" title="Register" onClick="displayRegister();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-male fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default" title="Password reset" onClick="displayReset();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-key fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h"></span>
<div class="form-group" title="Username">
	<label class="sr-only" for="login_username">Username or Email</label>
	<input type="email" class="form-control" id="login_username" placeholder="Username">
</div>
<span class="pipe_h"></span>
<div class="form-group" title="Password">
	<label class="sr-only" for="login_password">Password</label>
	<input type="password" class="form-control" id="login_password" placeholder="Password">
</div>
<span class="pipe_h"></span>
<div class="checkbox" title="Remember me">
	<span>
		<label class="sr-only" for="login_remember">Remember me</label>
		<input type="checkbox" value="on" id="login_remember" tabindex="0">
	</span>
</div>
<span class="pipe_h"></span>					
<button type="button" class="btn btn-default" title="Login" onClick="displayLoggedIn();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-sign-in fa-stack-1x fa-inverse"></i>
	</span>
</button>