<pre>                      
                      
        @@@           
    :  ;@@@.  :       
   @@@ #@@@# @@@      
  @@@@@@@@@@@@@@@     
  @@@@@@@@@@@@@@+     
   @@@@@@@@@@@@@      
   @@@@@   @@@@@      
#@@@@@@     @@@@@@'   
@@@@@@;     +@@@@@+   
@@@@@@;     +@@@@@+   
+@@@@@@     @@@@@@'   
   @@@@@   @@@@@      
   @@@@@@@@@@@@@      
  +@@@@@@@@@@@@@+     
  @@@@@@@@@@@@@@@     
   @@@ @@@@@ @@@      
    :  :@@@,  ;       
        @@@           
                      
                      
</pre>
korisničko ime: {{username}}<br/>
kratak opis: {{{descriptionContent.text}}}<br/>
prikaži lične podatke: {{showPersonal}}<br/>
ime: {{firstName}}<br/>
prezime: {{lastName}}<br/>
pol: {{gender}}<br/>
datum rođenja: {{birthDate}}<br/>
datum registracije: {{signupDate}}<br/>
poslednji login: {{lastLoginDate}}<br/>
<button type="button" class="btn btn-default" title="izmena podataka" onClick="editSingleItem('author', '{{username}}');">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	</span>
</button>