<pre>                      
                      
        @@@           
    :  ;@@@.  :       
   @@@ #@@@# @@@      
  @@@@@@@@@@@@@@@     
  @@@@@@@@@@@@@@+     
   @@@@@@@@@@@@@      
   @@@@@   @@@@@      
#@@@@@@     @@@@@@'   
@@@@@@;     +@@@@@+   
@@@@@@;     +@@@@@+   
+@@@@@@     @@@@@@'   
   @@@@@   @@@@@      
   @@@@@@@@@@@@@      
  +@@@@@@@@@@@@@+     
  @@@@@@@@@@@@@@@     
   @@@ @@@@@ @@@      
    :  :@@@,  ;       
        @@@           
                      
                      
</pre>
Username: {{username}}<br/>
Short description: {{{descriptionContent.text}}}<br/>
Show personal: {{showPersonal}}<br/>
First name: {{firstName}}<br/>
Last name: {{lastName}}<br/>
Gender: {{gender}}<br/>
Birth date: {{birthDate}}<br/>
Email: {{email}}<br/>
Signup date: {{signupDate}}<br/>
Last login date: {{lastLoginDate}}<br/>
<button type="button" class="btn btn-default" title="Edit profile" onClick="editSingleItem('author', '{{username}}');">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	</span>
</button>