korisničko ime: {{username}}<br/>
kratak opis: {{{descriptionContent.text}}}<br/>
prikaži lične podatke: {{showPersonal}}<br/>
ime: {{firstName}}<br/>
prezime: {{lastName}}<br/>
pol: {{gender}}<br/>
datum rođenja: {{#timestampDate}}{{birthDate}}{{/timestampDate}}<br/>
datum registracije: {{#timestampDate}}{{signupDate}}{{/timestampDate}}<br/>
poslednja prijava: {{#timestampDate}}{{lastLoginDate}}{{/timestampDate}}<br/>
<div class="item-footer">
	<button type="button" class="btn btn-default" title="izmena podataka" onClick="editSingleItem('author', '{{username}}');">
		<i class="fa fa-pencil"></i>
		<span>izmena podataka</span>
	</button>
</div>
<pre>

        @@@
    :  ;@@@.  :
   @@@ #@@@# @@@
  @@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@+
   @@@@@@@@@@@@@
   @@@@@   @@@@@
#@@@@@@     @@@@@@'
@@@@@@;     +@@@@@+
@@@@@@;     +@@@@@+
+@@@@@@     @@@@@@'
   @@@@@   @@@@@
   @@@@@@@@@@@@@
  +@@@@@@@@@@@@@+
  @@@@@@@@@@@@@@@
   @@@ @@@@@ @@@
    :  :@@@,  ;
        @@@


</pre>