<section class="content-header">
	<h1 class="text-center">
	  <i class="fa fa-cog"></i>
	</h1>
	<h1 class="text-center">
	  profil
	</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-2">
			<img class="img-responsive" src="{{avatarUrl}}" />
		</div>
		<div class="col-xs-2">
			korisničko ime:<br/>
			kratak opis:<br/>
			prikaži lične podatke:<br/>
			ime:<br/>
			prezime:<br/>
			pol:<br/>
			datum rođenja:<br/>
		</div>
		<div class="col-xs-8">
			{{username}}<br/>
			{{{descriptionContent.text}}}<br/>
			{{showPersonal}}<br/>
			{{firstName}}<br/>
			{{lastName}}<br/>
			{{gender}}<br/>
			{{#timestampDate}}{{birthDate}}{{/timestampDate}}<br/><br/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			datum registracije: {{#timestampDate}}{{signupDate}}{{/timestampDate}}<br/>
			poslednja prijava: {{#timestampDate}}{{lastLoginDate}}{{/timestampDate}}<br/>
			<div class="item-footer">
				<button type="button" class="btn btn-default" title="izmena podataka" onClick="editSingleItem('author', '{{descriptionContent.slug}}');">
					<i class="fa fa-pencil"></i>
					<span>izmena podataka</span>
				</button>
			</div>
		</div>
	</div>
</section>