<div class="row">
	<div class="col-xs-12">
		<h4>poslednjih pet</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 texts">
		<div class="box box-success">
		  <div class="box-header with-border">
		    <h3 class="box-title"><a href="/list_texts" onclick="$.address.value('list_texts');return false;"><i class='fa fa-file-text-o'></i> <span>tekstovi</span></a></h3>
		    <div class="box-tools pull-right">
		    </div>
		  </div>
		  <div class="box-body">
			<div class="first_five">
				<div class="overlay">
				</div>
			</div>
		  </div>
		</div>
	</div>
	<div class="col-sm-4 comments">
		<div class="box box-success">
		  <div class="box-header with-border">
		    <h3 class="box-title">><a href="/list_texts?orderBy=activity,desc" onclick="$.address.value('list_texts?orderBy=activity,desc');return false;"><i class="fa fa-comment-o"></i> <span>komentari</span></a></h3>
		    <div class="box-tools pull-right">
		    </div>
		  </div>
		  <div class="box-body">
		    <div class="first_five">
				<div class="overlay">
				</div>
			</div>
		  </div>
		</div>
	</div>
	<div class="col-sm-4 topics">
		<div class="box box-success">
		  <div class="box-header with-border">
		    <h3 class="box-title"><a href="/list_topics" onclick="$.address.value('list_topics');return false;"><i class='fa fa-comments-o'></i> <span>diskusije</span></a></h3>
		    <div class="box-tools pull-right">
		    </div>
		  </div>
		  <div class="box-body">
		    <div class="first_five">
				<div class="overlay">
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 announcements">
		<div class="box box-success">
		  <div class="box-header with-border">
		    <h3 class="box-title"><a href="/list_announcements" onclick="$.address.value('list_announcements');return false;"><i class='fa fa-bullhorn'></i> <span>vesti</span></a></h3>
		    <div class="box-tools pull-right">
		    </div>
		  </div>
		  <div class="box-body">
		    <div class="first_five">
				<div class="overlay">
				</div>
			</div>
		  </div>
		</div>
	</div>
	<div class="col-sm-4 contests">
		<div class="box box-success">
		  <div class="box-header with-border">
		    <h3 class="box-title"><a href="/list_contests" onclick="$.address.value('list_contests');return false;"><i class='fa fa-eye'></i> <span>konkursi</span></a></h3>
		    <div class="box-tools pull-right">
		    </div>
		  </div>
		  <div class="box-body">
		    <div class="first_five">
				<div class="overlay">
				</div>
			</div>
		  </div>
		</div>
	</div>
	<div class="col-sm-4 connections">
		<div class="box box-success">
		  <div class="box-header with-border">
		    <h3 class="box-title"><a href="/list_connections" onclick="$.address.value('list_connections');return false;"><i class='fa fa-link'></i> <span>linkovi</span></a></h3>
		    <div class="box-tools pull-right">
		    </div>
		  </div>
		  <div class="box-body">
		    <div class="first_five">
				<div class="overlay">
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>
{{#isLoggedIn}}
<div class="row">
	<div class="col-xs-12">
		<h4><a href="/updates" onclick="$.address.value('/updates');return false;">sve novosti od vaše prethodne posete</a></h4>
	</div>
</div>
{{/isLoggedIn}}