<div class="form-group" title="korisničko ime">
	<label class="sr-only" for="register_username">korisničko ime</label>
	<input type="text" class="form-control" id="register_username" placeholder="korisničko ime" validators="required length url_safe username">
</div>
<span class="pipe_h hidden-xs"></span>
<div class="form-group" title="e-pošta">
	<label class="sr-only" for="register_email">e-pošta</label>
	<input type="email" class="form-control" id="register_email" placeholder="e-pošta" validators="required email">
</div>
<span class="pipe_h hidden-xs"></span>
<div class="form-group" title="lozinka">
	<label class="sr-only" for="register_password">lozinka</label>
	<input type="password" class="form-control" id="register_password" placeholder="lozinka" validators="required length">
</div>
<span class="pipe_h hidden-xs"></span>
<button type="button" class="btn btn-default" title="odustani" onClick="displayLogin();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-times fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h hidden-xs"></span>
<button type="button" class="btn btn-default process_register" title="registruj me">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-check fa-stack-1x fa-inverse"></i>
	</span>
</button>