<div class="form-group has-feedback" title="korisničko ime">
	<label class="sr-only" for="register_username">korisničko ime</label>
	<input type="text" class="form-control" id="register_username" placeholder="korisničko ime" validators="required length url_safe username">
	<i class="fa fa-user form-control-feedback hidden-sm hidden-xs"></i>
</div>
<div class="form-group has-feedback" title="e-pošta">
	<label class="sr-only" for="register_email">e-pošta</label>
	<input type="email" class="form-control" id="register_email" placeholder="e-pošta" validators="required email">
	<i class="fa fa-envelope form-control-feedback hidden-sm hidden-xs"></i>
</div>
<div class="form-group has-feedback" title="lozinka">
	<label class="sr-only" for="register_password">lozinka</label>
	<input type="password" class="form-control" id="register_password" placeholder="lozinka" validators="required length">
	<i class="fa fa-lock form-control-feedback hidden-sm hidden-xs"></i>
</div>
<button type="button" class="btn btn-default" title="odustani" onClick="displayLogin();">
	<i class="fa fa-times hidden-sm hidden-xs"></i>
	<span>odustani</span>
</button>
<span class="pipe_h hidden-xs"></span>
<button type="button" class="btn btn-default process_register" title="registruj me">
	<i class="fa fa-check hidden-sm hidden-xs"></i>
	<span>registruj me</span>
</button>