<div class="form-group" title="Username">
	<label class="sr-only" for="register_username">Username</label>
	<input type="text" class="form-control" id="register_username" placeholder="Username">
</div>
<span class="pipe_h"></span>
<div class="form-group" title="Email">
	<label class="sr-only" for="register_email">Email</label>
	<input type="email" class="form-control" id="register_email" placeholder="Email">
</div>
<span class="pipe_h"></span>
<div class="form-group" title="Password">
	<label class="sr-only" for="register_password">Password</label>
	<input type="password" class="form-control" id="register_password" placeholder="Password">
</div>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default" title="Register" onClick="displayLogin();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-check fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h"></span>					
<button type="button" class="btn btn-default" title="Cancel" onClick="displayLogin();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-times fa-stack-1x fa-inverse"></i>
	</span>
</button>