<div class="form-group" title="Username">
	<label class="sr-only" for="reset_username">Username</label>
	<input type="email" class="form-control" id="reset_username" placeholder="Username">
</div>
<span class="pipe_h"></span>
<div class="form-group" title="Email">
	<label class="sr-only" for="reset_email">Email</label>
	<input type="email" class="form-control" id="reset_email" placeholder="Email">
</div>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default" title="Reset" onClick="displayLogin();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-check fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h"></span>					
<button type="button" class="btn btn-default" title="Cancel" onClick="displayLogin();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-times fa-stack-1x fa-inverse"></i>
	</span>
</button>