<div class="form-group" title="korisničko ime">
	<label class="sr-only" for="reset_username">korisničko ime</label>
	<input type="email" class="form-control" id="reset_username" placeholder="korisničko ime" validators="required username">
</div>
<div class="form-group" title="e-pošta">
	<label class="sr-only" for="reset_email">e-pošta</label>
	<input type="email" class="form-control" id="reset_email" placeholder="e-pošta" validators="required email">
</div>
<button type="button" class="btn btn-default" title="odustani" onClick="displayLogin();">
	<i class="fa fa-times"></i>
	<span>odustani</span>
</button>
<button type="button" class="btn btn-default password_reset" title="resetuj">
	<i class="fa fa-check"></i>
	<span>resetuj</span>
</button>