<div class="form-group" title="korisničko ime">
	<label class="sr-only" for="reset_username">korisničko ime</label>
	<input type="email" class="form-control" id="reset_username" placeholder="korisničko ime">
</div>
<span class="pipe_h"></span>
<div class="form-group" title="e-pošta">
	<label class="sr-only" for="reset_email">e-pošta</label>
	<input type="email" class="form-control" id="reset_email" placeholder="e-pošta">
</div>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default" title="odustani" onClick="displayLogin();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-times fa-stack-1x fa-inverse"></i>
	</span>
</button>
<span class="pipe_h"></span>
<button type="button" class="btn btn-default" title="resetuj" onClick="passwordReset();">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-check fa-stack-1x fa-inverse"></i>
	</span>
</button>