<h1>{{ author }}</h1>
<h1>{{ title }}</h1>
{{{ description }}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Date</th>
			<th>Last post</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Reef triggerfish</td>
			<td>mouthbrooder</td>
			<td>1.1.2014.</td>
			<td>17.7.2012.</td>
		</tr>
		<tr>
			<td>golden shiner</td>
			<td>oceanic flyingfish</td>
			<td>21.10.2013.</td>
			<td>17.7.2012.</td>
		</tr>
		<tr>
			<td>ballan wrasse</td>
			<td>unicorn fish</td>
			<td>27.12.2012.</td>
			<td>17.7.2012.</td>
		</tr>
		<tr>
			<td>ghost flathead</td>
			<td>crappie</td>
			<td>8.6.2012.</td>
			<td>17.7.2012.</td>
		</tr>
		<tr>
			<td>neon tetra</td>
			<td>halosaur zebra</td>
			<td>11.1.2014.</td>
			<td>17.7.2012.</td>
		</tr>
		<tr>
			<td>firefish</td>
			<td>Sundaland noodlefish</td>
			<td>17.7.2012.</td>
			<td>17.7.2012.</td>
		</tr>
	</tbody>
</table>