<ul id="sidebarAccordion" class="sidebar-nav panel-group">
	{{#collapsibles}}
		<li class="panel panel-default">
			<span title="{{title}}" data-parent="#sidebarAccordion" data-target="#collapse_{{id}}" data-toggle="collapse" class="{{id}}_button pull-left fa-stack fa-2x"  onClick="if (!$('.main>.jumbotron>.{{id}}').length) { displaySidebarAccordion('{{id}}');}">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-{{icon}} fa-stack-1x fa-inverse"></i>
				<span class="pipe_hr"></span>
			</span>
			<div class="panel-heading">
				<a href="#collapse_{{id}}" data-parent="#sidebarAccordion" data-toggle="collapse" class="accordion-toggle collapsed">{{title}}</a>
				
				<input data-parent="#sidebarAccordion" data-target="#collapse_{{id}}" data-toggle="collapse" class="form-control pull-right" type="search" value="" placeholder="Search" name="q">
				{{#categories.length}}
        			<select class="pull-right">
        				<option value="all"></option>
        				{{#categories}}
					    	<option value="{{id}}">{{title}}</option>
					    {{/categories}}
					</select>
     			{{/categories.length}}
			</div>
			<div class="panel-collapse collapse" id="collapse_{{id}}">
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								{{#columns}}
									<th>{{.}}</th>
								{{/columns}}
							</tr>
							<tr>
								{{#columns}}
									<td><input type="search" placeholder=""></td>
								{{/columns}}
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</li>
	{{/collapsibles}}
</ul>