<ul class="nav nav-tabs">
	{{#tabs}}
		<li class="{{#active}}active{{/active}} {{id}}_button">
			<a href="#{{id}}_tab" data-toggle="tab" title="{{title}}" onClick="displaySlide('{{id}}');">
				<span class="fa-stack fa-2x">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-{{icon}} fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<span class="pipe_vb"></span>
		</li>
	{{/tabs}}
</ul>
<div class="tab-content">
	{{#tabs}}
		<div class="tab-pane {{#active}}active{{/active}}" id="{{id}}_tab">
			<div id="{{id}}-carousel" class="carousel slide" data-ride="carousel" data-interval="0">
				<div>
					loading
				</div>
			</div>
		</div>
	{{/tabs}}
</div>