<div class="row">
	<div class="col-sm-4">
		<h4><i class="fa fa-file-text-o"></i> tekstovi</h4>
	</div>
	<div class="col-sm-4">
		<h4><i class="fa fa-comment-o"></i> komentari</h4>
	</div>
	<div class="col-sm-4">
		<h4><i class="fa fa-comments-o"></i> diskusije</h4>
	</div>
</div>
{{#items}}
<div class="row">
	<div class="col-sm-4 item content">
		{{#entry.0}}
			<h5><a href="javascript:;" onclick="$.address.value('author/{{authorUsername}}');">{{authorUsername}}</a> - <a href="javascript:;" onclick="$.address.value('text/{{authorUsername}}/{{#escapeUrl}}{{name}}{{/escapeUrl}}');">{{name}}</a></h5>
			{{#description.0.text}}<p>{{{description.0.text}}}</p>{{/description.0.text}}
		{{/entry.0}}
	</div>
	<div class="col-sm-4 item content">
		{{#entry.1}}
			<h5>- {{{text}}} ({{#authorUsername}}<a href="javascript:;" onclick="$.address.value('author/{{authorUsername}}');">{{authorUsername}}</a>{{/authorUsername}}{{^authorUsername}}gost{{/authorUsername}})</h5>
			komentar na {{parentKind}} <a href="javascript:;" onclick="$.address.value('{{parentLinkUrl}}');">{{parentLinkText}}</a>
		{{/entry.1}}
	</div>
	<div class="col-sm-4 item content">
		{{#entry.2}}
			<h5><a href="javascript:;" onclick="$.address.value('topic/{{#escapeUrl}}{{name}}{{/escapeUrl}}');">{{name}}</a></h5>
			{{#authorUsername}}pokretač: <a href="javascript:;" onclick="$.address.value('author/{{authorUsername}}');">{{authorUsername}}</a>{{/authorUsername}}<br/>
		{{/entry.2}}
	</div>
</div>
{{/items}}