<pre>                       
                       
 @@@@@@@@@@@@@@@@@@@@@#
#@...................:@
@@                    @
@@               @@@  @
@@      +++      @@@  @
@@      @@@      @@@  @
@@      @@@      @@@  @
@@      @@@ .::, @@@  @
@@      @@@ ;@@+ @@@  @
@@      @@@ ;@@+ @@@  @
@@ ,::` @@@ ;@@+ @@@  @
@@ +@@. @@@ ;@@+ @@@  @
@@ +@@. @@@ ;@@+ @@@  @
@@ +@@. @@@ ;@@+ @@@  @
@@ +@@. @@@ ;@@+ @@@  @
@@                    @
#@...................:@
 @@@@@@@@@@@@@@@@@@@@@@
                       
                       
</pre>
{{#pages.length}}
<h3 class="text-center">ukupno objavljeno: {{items.length}}</h3>
<h3 class="text-center">ukupno prikazivanja: {{rating}}</h3>
<ul class="pagination">
	{{#pages}}
  		<li><a href="javascript:;" onClick="displayPage('profile-items', {{index}});" class="page{{index}}">{{index}}</a></li>
	{{/pages}}
</ul>
{{#pages}}
<table class="table table-striped clickable profile-items hidden page{{index}}">
	<thead>
		<tr>
			<th>naslov</th>
			<th>vrsta</th>
			<th>datum objavljivanja</th>
			<th>broj prikazivanja</th>
			<th>akcija</th>
		</tr>
	</thead>
	<tbody>
		{{#items}}
			<tr onclick="$.address.value('{{#isText}}text/{{#escapeUrl}}{{authorUsername}}/{{name}}{{/escapeUrl}}{{/isText}}{{#isEpisode}}episode/{{#escapeUrl}}{{parentGroup}}/{{name}}{{/escapeUrl}}{{/isEpisode}}');">
				<td>{{name}}</td>
				<td>{{#isText}}tekst{{/isText}}{{#isEpisode}}nastavak{{/isEpisode}}</td>
				<td>{{#timestampDate}}{{creationDate}}{{/timestampDate}}</td>
				<td>{{#rating.0.value}}{{rating.0.value}}{{/rating.0.value}}{{^rating.0.value}}0{{/rating.0.value}}</td>
				<td>
					{{#isEditable}}
					<button type="button" class="btn btn-default" title="izmeni" onClick="editSingleItem({{#isText}}'text','{{authorUsername}}/{{name}}'{{/isText}}{{#isEpisode}}'episode','{{parentGroup}}/{{name}}'{{/isEpisode}}, event);">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
						</span>
					</button>
					<button type="button" class="btn btn-default" title="obriši" onClick="editSingleItem('confirmation', {{#isText}}'text/{{authorUsername}}/{{name}}'{{/isText}}{{#isEpisode}}'episode/{{parentGroup}}/{{name}}'{{/isEpisode}}, event);">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-minus fa-stack-1x fa-inverse"></i>
						</span>
					</button>
					{{/isEditable}}
				</td>
			</tr>
		{{/items}}
	</tbody>
</table>
{{/pages}}
{{/pages.length}}