<table class="table table-striped clickable list_texts">
	<thead>
		<tr>
			<th id="{{id}}_column_{{column_name}}" class="{{#column_order}}{{column_order}}{{/column_order}} {{^primary}}hidden-xs{{/primary}}">naslov</th>
			<th id="{{id}}_column_{{column_name}}" class="{{#column_order}}{{column_order}}{{/column_order}} {{^primary}}hidden-xs{{/primary}}">autor</th>
			<th id="{{id}}_column_{{column_name}}" class="{{#column_order}}{{column_order}}{{/column_order}} {{^primary}}hidden-xs{{/primary}}">objavljivanje</th>
			<th id="{{id}}_column_{{column_name}}" class="{{#column_order}}{{column_order}}{{/column_order}} {{^primary}}hidden-xs{{/primary}}">aktivnost</th>
			<th></th>
		</tr>
		<tr>
			<td class="{{^primary}}hidden-xs{{/primary}}"><input type="search" placeholder=""></td>
			<td class="{{^primary}}hidden-xs{{/primary}}"><input type="search" placeholder=""></td>
			<td class="{{^primary}}hidden-xs{{/primary}}"><input type="search" placeholder=""></td>
			<td class="{{^primary}}hidden-xs{{/primary}}"><input type="search" placeholder=""></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>