<pre style="font: 20px/10px monospace;">                
                
'@@@@@@@@@@     
@@......@+@@    
@@      @;`@@   
@@      @; `@@  
@@      @;  `@@ 
@@      @;   `@.
@@      @@@@@@@+
@@       ;;;;;@+
@@            @+
@@ +@@@@@@@@; @+
@@ .;;;;;;;;` @+
@@            @+
@@ +@@@@@@@@; @+
@@ ,++++++++. @+
@@            @+
@@            @+
@@............@+
'@@@@@@@@@@@@@@,
                
                
</pre>
<h3>{{authorUsername}}</h3>
<h3>{{{name}}}</h3>
<p>{{{children.0.text}}}</p>
{{{text}}}
{{#creationDate}}Datum dodavanja teksta: {{creationDate}}{{/creationDate}}