<table id="list_topics" class="table table-striped clickable infinite">
	<thead>
		<tr>
			<th id="topics_column_title" class="">naslov</th>
			<th id="topics_column_author" class="hidden-xs">autor</th>
			<th id="topics_column_date" class="desc hidden-xs">objavljivanje</th>
			<th id="topics_column_activity" class="hidden-xs">aktivnost</th>
			<th></th>
		</tr>
		<tr>
			<td class=""><input type="search" placeholder=""></td>
			<td class="hidden-xs"><input type="search" placeholder=""></td>
			<td class="hidden-xs"><input type="search" placeholder=""></td>
			<td class="hidden-xs"><input type="search" placeholder=""></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>