<section class="content-header">
	<div class="btn-group pull-left">
	  <button type="button" class="btn btn-default dropdown-toggle" title="prethodni" data-toggle="dropdown">
		<i class="fa fa-caret-left"></i>
		<span>prethodni</span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	  	<li><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'title', 'group', false);">u kategoriji</a></li>
	    <li><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'title', '', false);">po naslovu</a></li>
	    <li><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'date', '', false);">po datumu</a></li>
	    <li><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'activity', '', false);">po poslednjem odgovoru</a></li>
	  </ul>
	</div>
	<div class="btn-group pull-right">
	  <button type="button" class="btn btn-default dropdown-toggle" title="sledeći" data-toggle="dropdown">
		<i class="fa fa-caret-right"></i>
		<span>sledeći</span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	  	<li class="pull-right"><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'title', 'group', true);">u kategoriji</a></li>
	    <li class="pull-right"><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'title', '', true);">po naslovu</a></li>
	    <li class="pull-right"><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'date', '', true);">po datumu</a></li>
	    <li class="pull-right"><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'activity', '', true);">po poslednjem odgovoru</a></li>
	  </ul>
	</div>
	<h1 class="text-center">
	  <i class='fa fa-comments-o'></i>
	</h1>
	<h1 class="text-center">
	  {{parentGroup}}
	</h1>
	<h1 class="text-center">
	  {{name}}
	</h1>
</section>
<section class="content">
	<div class="row">
    	<div class="col-xs-12">
			dodao/la: {{#authorUsername}}<a href="javascript:;" onclick="$.address.value('author/{{authorUsername}}');">{{authorUsername}}</a>{{/authorUsername}}{{^authorUsername}}gost{{/authorUsername}}
			<br/>{{#creationDate}}datum: {{#timestampDate}}{{creationDate}}{{/timestampDate}}{{/creationDate}}
			<br/>broj prikazivanja: {{rating.0.value}}
			<div class="item-footer">
			<button type="button" class="btn btn-default" title="dodaj odgovor" onClick="addPost({{contentId}});">
				<i class="fa fa-plus"></i>
				<span>dodaj odgovor</span>
			</button>
			</div>
			<pre>


			      .:+',
			    @@@@@@@@@:
			  +@@,     `@@@
			 +@+          @@
			 @+            @+
			;@             #@ ,;
			@@             ,@ .@'
			;@             #@ ;@@
			 @+            @+ @@@;
			 ;@+         `@@  @@@@
			  ;@@`     .@@@  @@@@;
			   #@@@@@@@@@.  @@@@@
			   @@@,;+;.   `@@@@@'
			  @@:       :@@@@@@+
			        ;@@@@@@@@@+
			           :++';@@@
			                 '@@


			</pre>
		</div>
	</div>
</section>