<pre>                      
                      
                      
      .:+',           
    @@@@@@@@@:        
  +@@,     `@@@       
 +@+          @@      
 @+            @+     
;@             #@ ,;  
@@             ,@ .@' 
;@             #@ ;@@ 
 @+            @+ @@@;
 ;@+         `@@  @@@@
  ;@@`     .@@@  @@@@;
   #@@@@@@@@@.  @@@@@ 
   @@@,;+;.   `@@@@@' 
  @@:       :@@@@@@+  
        ;@@@@@@@@@+   
           :++';@@@   
                 '@@  
                      
                      
</pre>

<div class="btn-group pull-left">
  <button type="button" class="btn btn-default dropdown-toggle" title="prethodni" data-toggle="dropdown">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-caret-left fa-stack-1x fa-inverse"></i>
		</span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	<li><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'title', 'group', false);">u kategoriji</a></li>
    <li><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'title', '', false);">po naslovu</a></li>
    <li><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'date', '', false);">po datumu</a></li>
    <li><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'activity', '', false);">po poslednjem odgovoru</a></li>
  </ul>
</div>

<div class="btn-group pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" title="sledeći" data-toggle="dropdown">
		<span class="fa-stack fa-2x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-caret-right fa-stack-1x fa-inverse"></i>
		</span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	<li class="pull-right"><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'title', 'group', true);">u kategoriji</a></li>
    <li class="pull-right"><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'title', '', true);">po naslovu</a></li>
    <li class="pull-right"><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'date', '', true);">po datumu</a></li>
    <li class="pull-right"><a href="javascript:;" onClick="displayNext('topic', '{{contentId}}' , 'activity', '', true);">po poslednjem odgovoru</a></li>
  </ul>
</div>

<h3 class="text-center">{{parentGroup}}</h3>
<h3 class="text-center">{{name}}</h3>
dodao/la: {{#authorUsername}}<a href="/author/{{authorUsername}}">{{authorUsername}}</a>{{/authorUsername}}{{^authorUsername}}gost{{/authorUsername}}
<br/>{{#creationDate}}datum: {{creationDate}}{{/creationDate}}
<br/>rejting: {{rating.value}}
<table class="table table-striped forum-topic">
	<!-- <thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Date</th>
			<th>Last post</th>
		</tr>
	</thead> -->
	<tbody>
	</tbody>
</table>
<button type="button" class="btn btn-default" title="Add post" onClick="addPost({{contentId}});">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	</span>
</button>