<section class="content-header">
  <h1 class="text-center">
    <i class="fa fa-newspaper-o"></i>
  </h1>
  <h1 class="text-center">
    novosti od poslednje posete
  </h1>
</section>
<section class="content">
	<div class="row">
    	<div class="col-xs-12">
			{{#pages.length}}
			<ul class="pagination">
				{{#pages}}
			  		<li><a href="javascript:;" onClick="displayPage('recent-updates', {{index}});" class="page{{index}}">{{index}}</a></li>
				{{/pages}}
			</ul>
			{{#pages}}
			<table class="table table-striped clickable recent-updates hidden page{{index}}">
				<thead>
					<tr>
						<th>autor</th>
						<th>naslov</th>
						<th>vrsta</th>
						<th>datum objavljivanja</th>
						<th>poslednja aktivnost</th>
					</tr>
				</thead>
				<tbody>
					{{#items}}
						<tr>
							<td>
								<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
									{{authorUsername}}
								</a>
							</td>
							<td>
								<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
									{{#isAuthor}}{{text}}{{/isAuthor}}
									{{^isAuthor}}{{name}}{{/isAuthor}}
								</a>

							</td>
							<td>
								<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
									{{#translate}}{{kind}}{{/translate}}
								</a>

							</td>
							<td>
								<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
									{{#timestampDate}}{{creationDate}}{{/timestampDate}}
								</a>
							</td>
							<td>
								<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
									{{#timestampDate}}{{lastActivity}}{{/timestampDate}}
								</a>
							</td>
						</tr>
					{{/items}}
				</tbody>
			</table>
			{{/pages}}
			{{/pages.length}}
		</div>
	</div>
</section>