<section class="content-header">
  <h1 class="text-center">
    <i class="fa fa-tasks"></i>
  </h1>
</section>
<section class="content">
	<div class="row">
    	<div class="col-xs-12">
    		<table id="list_user_items" class="table table-striped clickable infinite">
				<thead>
					<tr>
						<th id="user_items_column_title" class="">naslov</th>
						<th id="user_items_column_kind" class="hidden-xs">vrsta</th>
						<th id="user_items_column_date" class="desc hidden-xs">datum objavljivanja</th>
						<th id="user_items_column_rating" class="hidden-xs">broj prikazivanja</th>
						<th>akcija</th>
						<th></th>
					</tr>
					<tr>
						<td class=""><input type="search" placeholder=""></td>
						<td class="hidden-xs"><input type="search" placeholder=""></td>
						<td class="hidden-xs"><input type="search" placeholder=""></td>
						<td class="hidden-xs"><input type="search" placeholder=""></td>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</section>