{{#items}}
	<tr>
		<td>
			<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
				{{name}}
			</a>
		</td>
		<td>
			<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
				{{#translate}}{{kind}}{{/translate}}
			</a>
		</td>
		<td>
			<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
				{{#timestampDate}}{{creationDate}}{{/timestampDate}}
			</a>
		</td>
		<td>
			<a href="/{{slug}}" onclick="$.address.value('/{{slug}}');return false;">
				{{#rating.0.value}}{{rating.0.value}}{{/rating.0.value}}{{^rating.0.value}}0{{/rating.0.value}}
			</a>
		</td>
		<td>
			{{#isEditable}}
			<button type="button" class="btn btn-default" title="izmeni" onClick="editSingleItem('/{{slug}}', event);">
				<i class="fa fa-pencil"></i>
				<span>izmeni</span>
			</button>
			<button type="button" class="btn btn-default" title="obriši" onClick="displayModal('confirmation', {'/{{slug}}', event);">
				<i class="fa fa-minus"></i>
				<span>obriši</span>
			</button>
			{{/isEditable}}
		</td>
	</tr>
{{/items}}