.main .nav-tabs {
	border: none;
	display: inline-block;
}

.main .nav-tabs>li {
	margin: 0;
}
.main .nav-tabs>li.active>a, .main .nav-tabs>li.active>a:hover, .main .nav-tabs>li.active>a:focus {
	border: none;
	background: none;
	cursor: pointer;
	color: #000;
	text-shadow: 0 0 4px #000;
}

.main .nav-tabs>li>a {
	color: #000;
	font-size: 24px;
	margin: 0;
	border: none;
	font-weight: bold;
}

.main .nav-tabs>li>a:hover {
	/*font-weight: bold;*/
	border: none;
	background: none;
	text-shadow: 0 0 4px #000;
}

.main .nav-tabs>li:last-child {
	padding: 10px 15px;
}