.navbar-fixed-top {
	background: none;
	border: none;
	/*padding-top: 4px;*/
	
}

.navbar-header, .navbar-form {
	height: 54px;
}

.navbar button, .navbar .form-group, .navbar .checkbox, .status_bar {
	vertical-align:top;
}

.navbar button:hover {
	transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
}

.navbar button span {
	color: #000;
}

.navbar input {
	font-size: 10px;
	padding: 4px 8px;
	height: auto;
}

.navbar input/*, .navbar .checkbox span*/ {
	background: #fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 4px 8px;
}

.navbar .fa-stack {
	font-size: 24px;
}

.navbar .navbar-header {
	margin: 0 0 0 40px;
	width: 450px;
}

.navbar pre {
	font-size: 2px;
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: #ccc;
	border: none;
}

.navbar-header .navbar-brand {
	/*height: 54px;*/
	background-color: #000;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	padding: 10px 16px;
	height: 100%;
}

.navbar-header .navbar-brand:hover, .navbar-brand:focus {
	background-color: #000;
}

.navbar-brand pre:hover, .navbar-brand pre:focus {
	color: #fff;
}

.navbar-form {
	padding: 0 24px 0 0;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
}

.navbar .form-group, .navbar .checkbox {
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	padding: 15px;
	background: #000;
}

.navbar .checkbox {
	margin: 5px 0;
	padding: 10px;
}

.navbar .dropdown-menu {
	right: auto;
}
    
@media (max-width: 978px) {
    .navbar .navbar-header {
		margin: 0 0 0 8px;
	}
	.navbar .navbar-nav>li>a {
		padding: 15px 4px;
		font-size: 10px;
	}
}

.pipe_h {
	/*position: absolute;
    right: 0px;
    top: 31%;*/
    margin: 19px -15px;
    display: inline-block;
    height: 16px;
    width: 30px;
	background-color: #000;
}

.status_bar, .username_bar {
	width: 200px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	padding: 15px;
	background: #000;
	height: 54px;
	display: inline-block;
}

.status_bar>div, .navbar .form-group>div {
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	font-weight: bolder;
	padding: 0;
	font-size: 19px;
	text-align: center;
}

input[type="text"], input[type="email"], input[type="password"] {
	background-color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}