body {
	padding-top: 50px;
}

footer {
	padding-left: 15px;
	padding-right: 15px;
}

.row-offcanvas {
	width: 135.6%; /* test this when window is resized */
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

.row-offcanvas.active {
	width: 100%;
}

.main {
	/*max-width: 74%;*/ /* test this when window is resized. this width is used to set slider right side*/
	/*padding-left: 40px;
	padding-right: 40px;*/
	width: 70.5%;
	min-height: 240px;
}

.active .main {
	/*max-width: 100%;*/
	width: 60%;
}

.container, .row {
	margin: 0;
	padding: 0;
}

.row {
	/*padding-left: 10px;*/
}

.container {
	width: 100%;
	overflow: hidden;
}

.main .jumbotron {
	padding: 20px 40px 0 40px;
	margin: 0;
	/*min-height: 451px;*/ /* this is sidebar height, to make slider go under it */
	background-color: #fff;
}

.main .jumbotron pre {
	font: 20px/10px monospace;
	float: right;
	margin-right: 10px;
	background-color: #fff;
	border: none;
}

.main .content p {
	font-size: 14px;
	white-space: pre-wrap;
}

.main .content h4 + p {
	padding-left: 10px;
	padding-right: 10px;
	text-transform: lowercase;
	white-space: normal;
	text-align: justify;
}

/*.main */.slider {
	padding: 0 0 0 40px;
	width: 70%;
	float:left;
}

.active /*.main*/ .slider {
	padding-right: 40px;
	width: 100%;
}

.navbar button, .navbar button:hover, .navbar button:focus, .navbar button:active, .navbar button:active:focus, .content .open .dropdown-toggle.btn-default,
.header_form .open .dropdown-toggle.btn-default,
.content button, .content button:hover, .content button:focus, .content button:active, .content button:active:focus,
.modal-edit>div>div>.modal-footer button, .modal-edit>div>div>.modal-footer button:hover, .modal-edit>div>div>.modal-footer button:focus, .modal-edit>div>div>.modal-footer button:active, .modal-edit>div>div>.modal-footer button:active:focus {
	padding: 4px 0 0 0;
	border: none;
	background: none transparent;
	box-shadow: none;
	outline: none;
	text-shadow: none;
}

.content .fa-stack, .modal .fa-stack {
	font-size: 24px;
}

.content button:hover, .navbar button:hover, .modal-edit>div>div>.modal-footer button:hover {
	transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
}

.modal-footer {
	margin: 0;
}

.main .table {
	border: 1px solid #ddd;
}

.main .table>thead>tr>th {
	border: 0;
}

.table.clickable>tbody>tr:hover {
	cursor: pointer;
}

.table.clickable>tbody>tr:hover>td {
	background-color: #ccc;	
}

.main .table .fa-stack {
	font-size: 10px;
}

.fa-stack {
	color: #000;
}

.fa-spin .fa-inverse {
	opacity: 0;
	font-weight: bolder;
	font-size: 36px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-animation: 2s linear 0s infinite;
	animation: 2s linear 0s infinite;
}
.fa-spin .char1 {
	animation-name: char_opacity1;
	-webkit-animation-name: char_opacity1;
}

.fa-spin .char2 {
	animation-name: char_opacity2;
	-webkit-animation-name: char_opacity2;
}

.fa-spin .char3 {
	animation-name: char_opacity3;
	-webkit-animation-name: char_opacity3;
}

.fa-spin .char4 {
	animation-name: char_opacity4;
	-webkit-animation-name: char_opacity4;
}

.fa-spin .char5 {
	animation-name: char_opacity5;
	-webkit-animation-name: char_opacity5;
}

.fa-spin .char6 {
	animation-name: char_opacity6;
	-webkit-animation-name: char_opacity6;
}

.fa-spin .char7 {
	animation-name: char_opacity7;
	-webkit-animation-name: char_opacity7;
}

.fa-spin .char8 {
	animation-name: char_opacity8;
	-webkit-animation-name: char_opacity8;
}

@-webkit-keyframes char_opacity1 {
	0% {opacity: 1;}
	12% {opacity: 1;}
	13% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes char_opacity1 {
	0% {opacity: 1;}
	12% {opacity: 1;}
	13% {opacity: 0;}
	100% {opacity: 0;}
}

@-webkit-keyframes char_opacity2 {
	0% {opacity: 0;}
	12% {opacity: 0;}
	13% {opacity: 1;}
	24% {opacity: 1;}
	25% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes char_opacity2 {
	0% {opacity: 0;}
	12% {opacity: 0;}
	13% {opacity: 1;}
	24% {opacity: 1;}
	25% {opacity: 0;}
	100% {opacity: 0;}
}

@-webkit-keyframes char_opacity3 {
	0% {opacity: 0;}
	24% {opacity: 0;}
	25% {opacity: 1;}
	36% {opacity: 1;}
	37% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes char_opacity3 {
	0% {opacity: 0;}
	24% {opacity: 0;}
	25% {opacity: 1;}
	36% {opacity: 1;}
	37% {opacity: 0;}
	100% {opacity: 0;}
}

@-webkit-keyframes char_opacity4 {
	0% {opacity: 0;}
	36% {opacity: 0;}
	37% {opacity: 1;}
	48% {opacity: 1;}
	49% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes char_opacity4 {
	0% {opacity: 0;}
	36% {opacity: 0;}
	37% {opacity: 1;}
	48% {opacity: 1;}
	49% {opacity: 0;}
	100% {opacity: 0;}
}

@-webkit-keyframes char_opacity5 {
	0% {opacity: 0;}
	48% {opacity: 0;}
	49% {opacity: 1;}
	60% {opacity: 1;}
	61% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes char_opacity5 {
	0% {opacity: 0;}
	48% {opacity: 0;}
	49% {opacity: 1;}
	60% {opacity: 1;}
	61% {opacity: 0;}
	100% {opacity: 0;}
}

@-webkit-keyframes char_opacity6 {
	0% {opacity: 0;}
	60% {opacity: 0;}
	61% {opacity: 1;}
	72% {opacity: 1;}
	73% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes char_opacity6 {
	0% {opacity: 0;}
	60% {opacity: 0;}
	61% {opacity: 1;}
	72% {opacity: 1;}
	73% {opacity: 0;}
	100% {opacity: 0;}
}

@-webkit-keyframes char_opacity7 {
	0% {opacity: 0;}
	72% {opacity: 0;}
	73% {opacity: 1;}
	84% {opacity: 1;}
	85% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes char_opacity7 {
	0% {opacity: 0;}
	72% {opacity: 0;}
	73% {opacity: 1;}
	84% {opacity: 1;}
	85% {opacity: 0;}
	100% {opacity: 0;}
}

@-webkit-keyframes char_opacity8 {
	0% {opacity: 0;}
	84% {opacity: 0;}
	85% {opacity: 1;}
	96% {opacity: 1;}
	97% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes char_opacity8 {
	0% {opacity: 0;}
	84% {opacity: 0;}
	85% {opacity: 1;}
	96% {opacity: 1;}
	97% {opacity: 0;}
	100% {opacity: 0;}
}

.modal-edit>div {
    background-color: #fff;
    border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	padding: 15px;
	background: #000;
}

.modal-edit>div>div {
	background: #fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 13px 0;	
}

.highlighted {
	border: 1px dashed;
}

.has-error .help-inline {
	color: #a94442;
}

.content {
	border: 1px solid;
	padding-left: 4px;
}
.content h3 {
	font-weight: 700;
}

.jumbotron .content h4 {
	text-transform:lowercase;
}

.main .jumbotron a {
	color: #444;
	text-decoration: underline;
	font-style: italic;
	font-weight: 700;
}

.main .jumbotron a:hover {
	color: #000;
}

.forum-topic td:first-child {
	width: 10%;
}

.note-dialog .modal-dialog {
    max-width: 500px;
}

.item-footer {
	padding: 19px 20px 20px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
	background-color: #fff;
}

.pagination {
	display: block;
}

.main .jumbotron .pagination a {
	text-decoration: none;
	font-style: normal;
}

.main .jumbotron .pagination a.active {
	background-color: #eee;
	border-color: #ddd;
	cursor: pointer;
}

.tooltip-inner {
    white-space:pre-wrap;
}